@page "/PrisonersOverview"
@using Entities
@using Contracts
@using BlazorLoginApp.Authentication

@inject NavigationManager _navMgr
@inject IAuthService _authService
@inject IPrisonerService _prisonerService

<h3>PrisonersOverview</h3>

<AuthorizeView>
    <NotAuthorized>
        <p>Log in first to see the content</p>
    </NotAuthorized>
    
    <Authorized>
        @if (!string.IsNullOrEmpty(_errorLabel))
        {
            <div class="field">
                <label style="color: red">
                    @_errorLabel
                </label>
            </div>
        }
        
        @if (!string.IsNullOrEmpty(_successLabel))
        {
            <div class="field">
                <label style="color: green">
                    @_successLabel
                </label>
            </div>
        }
        
        @if (_filteredPrisoners == null)
        {
            <p>failed to fetch</p>
        }
        else if (_filteredPrisoners.Count == 0)
        {
            <p>no prisoners; (empty)</p>
        }
        else
        {
            <div>
                <table class="table align-middle">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">SSN</th>
                    </tr>
                    </thead>
                
                    <tbody>
                    @foreach (var p in _filteredPrisoners)
                    {
                        <tr @onclick="@(() => PrisonerDetail(p.Id))">
                            <th scope="row">@p.Id</th>
                            <td>@p.Firstname</td>
                            <td>@p.Lastname</td>
                            <td>@p.Ssn</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
        
        
        <div class="field">
            <button class="btn btn-primary" @onclick="AddPrisoner">+ Add prisoner</button>
        </div>

    </Authorized>
</AuthorizeView>

@code {
    private string _errorLabel = "", _successLabel="";

    private ICollection<Prisoner>? _allPrisoners;
    private ICollection<Prisoner>? _filteredPrisoners;

    protected override async Task OnInitializedAsync()
    {
        _allPrisoners = await _prisonerService.GetPrisonersAsync();
        _filteredPrisoners = _allPrisoners;
    }

    private void AddPrisoner()
    {
        _navMgr.NavigateTo("/AddPrisoner");
    }

    private void PrisonerDetail(long pId)
    {
        _navMgr.NavigateTo($"PrisonerDetail/{pId}");
    }

}