@page "/PrisonersOverview"
@using Entities
@using Contracts
@using BlazorLoginApp.Authentication

@inject NavigationManager _navMgr
@inject IAuthService _authService
@inject IPrisonerService _prisonerService


<AuthorizeView>
    <NotAuthorized>
        <p>Log in first to see the content</p>
    </NotAuthorized>
    
    <Authorized>
        @if (!string.IsNullOrEmpty(_errorLabel))
        {
            <div class="field">
                <label style="color: red">
                    @_errorLabel
                </label>
            </div>
        }
        
        @if (!string.IsNullOrEmpty(_successLabel))
        {
            <div class="field">
                <label style="color: green">
                    @_successLabel
                </label>
            </div>
        }
                <!--Old table -->
        @if (_prisonersToShow == null)
        {
            <p>Loading..</p>
        
        }
        else if (_prisonersToShow.Count == 0)
        {
            <p>no prisoners; (empty)</p>
        }
        else
        {
            <div>
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">SSN</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
        
                    <tbody>
                    @foreach (var p in _prisonersToShow)
                    {
                        
                        <tr>
                            
                            <td>
                                <div class="d-flex align-items-center">
                                    <img
                                      src="img/download.png"
                                      class="rounded-circle"
                                      alt=""
                                      style="width: 45px; height: 45px"
                                      />
                                    <div class="ms-3">
                                        <p class="fw-bold mb-1">@p.Id</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="ms-3">
                                        <p class=" mb-1">@p.FirstName</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="ms-3">
                                        <p class=" mb-1">@p.LastName</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="ms-3">
                                        <p class=" mb-1">@p.Ssn</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a @onclick="@((() => PrisonerDetail(p.Id)))">
                                <button
                                    type="button"
                                    class="btn btn-link btn-rounded btn-sm fw-bold"
                                    data-mdb-ripple-color="dark">
                                    Edit
                                </button>
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            
        } 
        
       

    </Authorized>
</AuthorizeView>

@code {
    private string _errorLabel = "", _successLabel="";

    private ICollection<Prisoner>? _allPrisoners, _prisonersToShow;

    protected override async Task OnInitializedAsync()
    {
        if (_authService.getLoggedUser() != null)
        {
            _allPrisoners = await _prisonerService.GetPrisonersAsync();
            _prisonersToShow = _allPrisoners;
        }
    }

    private void AddPrisoner()
    {
        _navMgr.NavigateTo("/AddPrisoner");
    }

    private void PrisonerDetail(long pId)
    {
        _navMgr.NavigateTo($"PrisonerDetail/{pId}");
    }

}