@page "/"

@using Contracts
@using Entities

@inject IVisitService _visitService
@inject IGuardService _guardService
@inject IPrisonerService _prisonerService
@inject IAlertService _alertService
@inject ISectorService _sectorService
@inject NavigationManager navMgr

<div class=" row mt-3 justify-content-center">
    <div class="d-flex flex-column col-md-12 align-items-center">
        <div class="container-fluid">
            <div class="card"><!-- Tabs navs -->
                <ul class="nav nav-tabs nav-fill mb-3" id="ovtabs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link active"
                      id="all"
                      data-mdb-toggle="tab"
                      href="#all-tabs-1"
                      role="tab"
                      aria-controls="all-tabs-1"
                      aria-selected="true"
                      >Whole Prison</a>
                  </li>
                </ul>
                <!-- Tabs navs -->
                
                <!-- Tabs content -->
                <div class="tab-content" id="all-content">
                  <div
                    class="tab-pane fade show active"
                    id="all-tabs-1"
                    role="tabpanel"
                    aria-labelledby="all-tab-1">
                    <div class="row">
                      <div class="d-flex flex-column col-md-12">
        <div class="row">
          <div class="col-3">
            <!-- Tab navs -->
            <div
              class="nav flex-column nav-pills text-center"
              id="v-pills-tab"
              role="tablist"
              aria-orientation="vertical">
              <a
                class="nav-link active"
                id="v-pills-allprisoners-tab"
                data-mdb-toggle="pill"
                href="#v-pills-allprisoners"
                role="tab"
                aria-controls="v-pills-allprisoners"
                aria-selected="true"
                >Prisoners</a>
              <a
                class="nav-link"
                id="v-pills-allguards-tab"
                data-mdb-toggle="pill"
                href="#v-pills-allguards"
                role="tab"
                aria-controls="v-pills-allguards"
                aria-selected="false"
                >Guards</a>
              <a
                class="nav-link"
                id="v-pills-allvisits-tab"
                data-mdb-toggle="pill"
                href="#v-pills-allvisits"
                role="tab"
                aria-controls="v-pills-allvisits"
                aria-selected="false">Visits</a>
              <a
              class="nav-link"
              id="v-pills-allalerts-tab"
              data-mdb-toggle="pill"
              href="#v-pills-allalerts"
              role="tab"
              aria-controls="v-pills-allalerts"
              aria-selected="false">Alerts</a>
            </div>
            <!-- Tab navs -->
          </div>
        
          <div class="col-9">
            <!-- Tab content -->
            <div class="tab-content" id="v-pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="v-pills-allprisoners"
              role="tabpanel"
              aria-labelledby="v-pills-allprisoners-tab">
            <div class="accordion accordion-flush" id="accordionFlushPrisonersAll">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOnePrisonersAll">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-mdb-toggle="collapse"
                  data-mdb-target="#flush-collapseOnePrisonersAll"
                  aria-expanded="false"
                  aria-controls="flush-collapseOnePrisonersAll"
                  @onclick="LoadPrisonerMetricsAll">
                  Prisoner Metrics
                </button>
              </h2>
              <div
                id="flush-collapseOnePrisonersAll"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingOnePrisonersAll"
                data-mdb-parent="#accordionFlushPrisonersAll">
                <div class="accordion-body">
                  <h4 class="text-start">
                    Prisoner Count Overall: <span class="bg-info p-2 my-1 text-black">@_prisonerCount</span>
                  </h4>
                  <br/>
                                      
                  <h4 class="text-start">Prisoners in Sector 1:  <span class="bg-info p-2 my-1 text-black"> @_prisonerSectorCount[0]</span></h4>
                  <br/>
                  <h4 class="text-start">Prisoners in Sector 2: <span class="bg-info p-2 my-1 text-black"> @_prisonerSectorCount[1]</span></h4>
                  <br/>
                  <h4 class="text-start">Prisoners in Sector 3: <span class="bg-info p-2 my-1 text-black">@_prisonerSectorCount[2]</span></h4>
                  <br/>
                  @if (_lowBehaviourPrisoners != null && _lowBehaviourPrisoners.Any())
                  {
                    <h4 class="text-start">Prisoners with a Low Behavioural Score (less than 5) : @_lowBehaviourPrisoners!.Count </h4>
                    <table class="table table-hover align-middle mb-0 bg-white">
                      <thead class="bg-info sticky-top">
                      <tr class="text-uppercase text-white">
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Ssn</th>
                        <th scope="col">Crime commited</th>
                        <th scope="col">Sector</th>
                        <th scope="col">Status</th>
                      </tr>
                      </thead>

                      <tbody>
                      @foreach (var p in _lowBehaviourPrisoners)
                      {
                        <tr>

                          <td>
                            <div class="d-flex align-items-center">
                              <img
                                src="img/download.png"
                                class="rounded-circle"
                                alt=""
                                style="width: 45px; height: 45px"/>
                              <br/>
                              <div class="ms-3">
                                <p class="fw-bold mb-1">@p.FirstName</p>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="d-flex align-items-center">
                              <div class="ms-3">
                                <p class=" mb-1">@p.LastName</p>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="d-flex align-items-center">
                              <div class="ms-3">
                                <p class=" mb-1">@p.Ssn</p>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="d-flex align-items-center">
                              <div class="ms-3">
                                <p class=" mb-1">@p.CrimeCommitted</p>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="d-flex align-items-center">
                              <div class="ms-3">
                                <p class=" mb-1">@p.Sector?.Id</p>
                              </div>
                            </div>
                          </td>
                          <td>
                            <span class="badge badge-warning rounded-pill d-inline">Imprisoned</span>
                          </td>
                        </tr>
                      }
                      </tbody>
                    </table>                                                                                                            
                  }
                  else
                  {
                    <h4 class="text-start"></h4>
                  }
                  <br/>
                  <button class="btn-info" @onclick=@(() => navMgr.NavigateTo("PrisonersOverview"))> Go to Prisoners Overview</button>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwoPrisonersAll">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-mdb-toggle="collapse"
                  data-mdb-target="#flush-collapseTwoPrisonersAll"
                  aria-expanded="false"
                  aria-controls="flush-collapseTwoPrisonersAll">
                  Prisoners over time
                </button>
              </h2>
              <div
                id="flush-collapseTwoPrisonersAll"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingTwoPrisonersAll"
                data-mdb-parent="#accordionFlushPrisonersAll">
                <div class="accordion-body"></div>
              </div>
            </div>
              
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThreePrisonersAll">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-mdb-toggle="collapse"
                  data-mdb-target="#flush-collapseThreePrisonersAll"
                  aria-expanded="false"
                  aria-controls="flush-collapseThreePrisonersAll"
                  @onclick="LoadPrisonOccupancy">
                  Prison Capacity Status
                </button>
              </h2>
              <div
                id="flush-collapseThreePrisonersAll"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingThreePrisonersAll"
                data-mdb-parent="#accordionFlushPrisonersAll">
                <div class="accordion-body">
                  <table class="table align-middle bg-white" style="position:relative; width: 55%;" >
                    <thead class="bg-info ">
                    <tr class="text-uppercase text-white ">
                      <th scope="col"></th>
                      <th scope="col">Whole Prison</th>
                      <th scope="col">Sector 1</th>
                      <th scope="col">Sector 2</th>
                      <th scope="col">Sector 3</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">Occupancy Rate</th>
                      <td>
                        <SfProgressBar Type="ProgressType.Linear" Value="@_totalOccupancyRate" Height="60" Width="90%" 
                                       ShowProgressValue="true"  TrackThickness="24" CornerRadius="CornerType.Round"
                                       ProgressThickness="24" Minimum="0" Maximum="100">
                        </SfProgressBar>
                                            
                      </td>
                      <td><SfProgressBar Type="ProgressType.Linear" Value="@_sector1OccupancyRate" Height="60" Width="90%" 
                                         ShowProgressValue="true"  TrackThickness="24" CornerRadius="CornerType.Round"
                                         ProgressThickness="24" Minimum="0" Maximum="100">
                      </SfProgressBar></td>
                      <td><SfProgressBar Type="ProgressType.Linear" Value="@_sector2OccupancyRate" Height="60" Width="90%" 
                                         ShowProgressValue="true"  TrackThickness="24" CornerRadius="CornerType.Round"
                                         ProgressThickness="24" Minimum="0" Maximum="100">
                      </SfProgressBar></td>
                      <td><SfProgressBar Type="ProgressType.Linear" Value="@_sector3OccupancyRate" Height="60" Width="90%" 
                                         ShowProgressValue="true"  TrackThickness="24" CornerRadius="CornerType.Round"
                                         ProgressThickness="24" Minimum="0" Maximum="100">
                      </SfProgressBar></td>
                    </tr>
                    <tr>
                      <th scope="row">Occupied Cells</th>
                      <td>@(_sector1!.OccupiedCells+_sector2!.OccupiedCells+_sector3!.OccupiedCells)</td>
                      <td>@_sector1!.OccupiedCells</td>
                      <td>@_sector2!.OccupiedCells</td>
                      <td>@_sector3!.OccupiedCells</td>
                    </tr>
                    <tr>
                      <th scope="row">Free Cells</th>
                      <td>@(_sector1!.FreeCells+_sector2!.FreeCells+_sector3!.FreeCells)</td>
                      <td>@_sector1!.FreeCells</td>
                      <td>@_sector2!.FreeCells</td>
                      <td>@_sector3!.FreeCells</td>
                    </tr>
                    <tr>
                      <th scope="row">Total</th>
                      <td>@(_sector1!.Capacity+_sector2!.Capacity+_sector3!.Capacity)</td>
                      <td>@_sector1!.Capacity</td>
                      <td>@_sector2!.Capacity</td>
                      <td>@_sector3!.Capacity</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
            </div>
            
            <div
              class="tab-pane fade"
              id="v-pills-allguards"
              role="tabpanel"
              aria-labelledby="v-pills-allguards-tab">
              <div class="accordion accordion-flush" id="accordionFlushAllGuards">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOneAllGuards">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-mdb-toggle="collapse"
                      data-mdb-target="#flush-collapseOneAllGuards"
                      aria-expanded="false"
                      aria-controls="flush-collapseOneAllGuards"
                      @onclick="LoadGuardDataAll">
                      Guard Metrics
                    </button>
                  </h2>
                  <div
                    id="flush-collapseOneAllGuards"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingOneAllGuards"
                    data-mdb-parent="#accordionFlushAllGuards"
                  >
                    <div class="accordion-body">
                      <h4 class="text-start">Total Number of Guards in the Whole Prison:  <span class="bg-info p-2 my-1 text-black">@(_guardsPerSector.Sum())</span></h4>
                      <br/>
                      <h4 class="text-start">Total Number of Guards in Sector 1: <span class="bg-info p-2 my-1 text-black"> @_guardsPerSector[0]</span></h4>
                      <br/>
                      <h4 class="text-start">Total Number of Guards in Sector 2: <span class="bg-info p-2 my-1 text-black"> @_guardsPerSector[1]</span></h4>
                      <br/>
                      <h4 class="text-start">Total Number of Guards in Sector 3: <span class="bg-info p-2 my-1 text-black">@_guardsPerSector[2]</span></h4>
                      <br/>
                      <button class="btn btn-info" @onclick=@(() => navMgr.NavigateTo("GuardsOverview"))> Go to Guards Overview</button>

                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwoGuardsToday">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-mdb-toggle="collapse"
                      data-mdb-target="#flush-collapseTwoGuardsToday"
                      aria-expanded="false"
                      aria-controls="flush-collapseTwoGuardsToday"
                      @onclick="LoadGuardsTodayData"
                    >
                      Working Today
                    </button>
                  </h2>
                  <div
                    id="flush-collapseTwoGuardsToday"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingTwoGuardsToday"
                    data-mdb-parent="#accordionFlushAllGuards"
                  >
                    <div class="accordion-body">
                      <div class="accordion-body">
                        <h4 class="text-start"> Guards Working Today in the Whole Prison:  <span class="bg-info p-2 my-1 text-black">@(_guardsPerSectorToday.Sum())</span></h4>
                        <br/>
                        <h4 class="text-start">Guards Working Today of Guards in Sector 1: <span class="bg-info p-2 my-1 text-black"> @_guardsPerSectorToday[0]</span></h4>
                        <br/>
                        <h4 class="text-start">Guards Working Today in Sector 2: <span class="bg-info p-2 my-1 text-black"> @_guardsPerSectorToday[1]</span></h4>
                        <br/>
                        <h4 class="text-start">Guards Working Today in Sector 3: <span class="bg-info p-2 my-1 text-black">@_guardsPerSectorToday[2]</span></h4>
                        <br/>
                        @if (_guardsWorkingToday != null && _guardsWorkingToday.Any())
                        {
                          <table class="table table-hover align-middle mb-0 bg-white">

                            <thead class=" bg-info sticky-top">
                            <tr class="text-uppercase text-white">
                              <th scope="col">First name</th>
                              <th scope="col">Last name</th>
                              <th scope="col">Username</th>
                              <th scope="col">Email</th>
                              <th scope="col">Sector</th>
                            </tr>
                            </thead>

                            <tbody>
                            @foreach (var g in _guardsWorkingToday)
                            {
                              if (IsWorking(g.Id))
                              {
                                <tr>

                                  <td>
                                    <div class="d-flex align-items-center">
                                      <img
                                        src="img/officer.jpg"
                                        class="rounded-circle"
                                        alt=""
                                        style="width: 45px; height: 45px"/>
                                      <div class="ms-3">
                                        <p class="fw-bold mb-1">@g.FirstName</p>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="d-flex align-items-center">
                                      <div class="ms-3">
                                        <p class=" mb-1">@g.LastName</p>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="d-flex align-items-center">
                                      <div class="ms-3">
                                        <p class=" mb-1">@g.Username</p>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="d-flex align-items-center">
                                      <div class="ms-3">
                                        <p class=" mb-1">@g.Email</p>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="d-flex align-items-center">
                                      <div class="ms-3">

                                        <p class=" mb-1">@GetSector(g.Id)</p>

                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              }
                            }
                            </tbody>
                          </table>
                        }
                        <br/>
                        <!-- table with working guards -->
                        <br/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="v-pills-allvisits"
              role="tabpanel"
              aria-labelledby="v-pills-allvisits-tab">
              <div class="accordion accordion-flush" id="accordionFlushVisits">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOneVisits">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-mdb-toggle="collapse"
                      data-mdb-target="#flush-collapseOneVisits"
                      aria-expanded="false"
                      aria-controls="flush-collapseOneVisits"
                      @onclick="LoadVisitsToday">
                      Visits Today
                    </button>
                  </h2>
                  <div
                    id="flush-collapseOneVisits"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingOneVisits"
                    data-mdb-parent="#accordionFlushVisits"
                  >
                    <div class="accordion-body">
                      @if(_visitsToday!=null && _visitsToday.Any()){
                        <table class="table table-hover  align-middle bg-white " style="position: relative; ">
                          <thead class="bg-info ">
                          <tr class="text-uppercase text-white ">
                            <th scope="col">Visitor Name </th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Status</th>
                          </tr>
                          </thead>
                          <tbody>

                          @foreach (var visit in _visitsToday)
                          {

                            <tr >
                              <td >@visit.FirstName @visit.LastName
                              </td>
                              <td >@visit.VisitDate.Day/@visit.VisitDate.Month/@visit.VisitDate.Year</td>
                              <td >@visit.VisitDate.TimeOfDay.ToString(@"hh\:mm")</td>
                              <td>
                                @switch (visit.Status)
                                {
                                  case Status.Approved:
                                    <span class="badge rounded-pill badge-primary" style="margin-left: 2px">@visit.Status</span>
                                    break;
                                  case Status.Denied:
                                    <span class="badge rounded-pill badge-danger" style="margin-left: 2px">@visit.Status</span>
                                    break;
                                  case Status.Waiting:
                                    <span class="badge rounded-pill badge-warning" style="margin-left: 2px">@visit.Status</span>
                                    break;
                                  case Status.Fulfilled:
                                    <span class="badge rounded-pill badge-success" style="margin-left: 2px">@visit.Status</span>
                                    break;
                                }
                              </td>
                            </tr>

                          }
                          </tbody>
                        </table>
                      }
                      else
                      {
                        <h4>No visits booked for today.</h4>
                      }
                      <button class="btn btn-info" @onclick=@(() => navMgr.NavigateTo("Visits"))> Go to Visits Overview</button>

                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwoVisits">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-mdb-toggle="collapse"
                      data-mdb-target="#flush-collapseTwoVisits"
                      aria-expanded="false"
                      aria-controls="flush-collapseTwoVisits"
                      @onclick="LoadVisitsPending"
                    >
                      Visits Pending
                    </button>
                  </h2>
                  <div
                    id="flush-collapseTwoVisits"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingTwoVisits"
                    data-mdb-parent="#accordionFlushVisits"
                  >
                    <div class="accordion-body">
                      @if(_visitsPending!=null && _visitsPending.Any()){
                        <table class="table table-hover  align-middle bg-white " style="position: relative; ">
                          <thead class="bg-info ">
                          <tr class="text-uppercase text-white ">
                            <th scope="col">Visitor Name </th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Status</th>
                          </tr>
                          </thead>
                          <tbody>

                          @foreach (var visit in _visitsPending)
                          {

                            <tr >
                              <td >@visit.FirstName @visit.LastName
                              </td>
                              <td >@visit.VisitDate.Day/@visit.VisitDate.Month/@visit.VisitDate.Year</td>
                              <td >@visit.VisitDate.TimeOfDay.ToString(@"hh\:mm")</td>
                              <td>
                                @switch (visit.Status)
                                {
                                  case Status.Approved:
                                    <span class="badge rounded-pill badge-primary" style="margin-left: 2px">@visit.Status</span>
                                    break;
                                  case Status.Denied:
                                    <span class="badge rounded-pill badge-danger" style="margin-left: 2px">@visit.Status</span>
                                    break;
                                  case Status.Waiting:
                                    <span class="badge rounded-pill badge-warning" style="margin-left: 2px">@visit.Status</span>
                                    break;
                                  case Status.Fulfilled:
                                    <span class="badge rounded-pill badge-success" style="margin-left: 2px">@visit.Status</span>
                                    break;
                                }
                              </td>
                            </tr>

                          }
                          </tbody>
                        </table>
                      }
                      else
                      {
                        <h4>No visits pending.</h4>
                      }
                      <button class="btn btn-info" @onclick=@(() => navMgr.NavigateTo("VisitsOverview"))> Go to Visits Overview</button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div
              class="tab-pane fade"
              id="v-pills-allalerts"
              role="tabpanel"
              aria-labelledby="v-pills-allalerts-tab">
              <div class="accordion accordion-flush" id="accordionFlushAlert">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOneAlert">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-mdb-toggle="collapse"
                      data-mdb-target="#flush-collapseOneAlert"
                      aria-expanded="false"
                      aria-controls="flush-collapseOneAlert"
                      @onclick="LoadAlertsToday"
                    >
                      Alerts Issued Today
                    </button>
                  </h2>
                  <div
                    id="flush-collapseOneAlert"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingOneAlert"
                    data-mdb-parent="#accordionFlushAlert"
                  >
                    <div class="accordion-body">
                      @if (_alertsToday != null && _alertsToday.Any())
                      {
                        <table class="table table-hover  align-middle bg-white " style="position: relative; ">
                          <thead class="bg-info ">
                          <tr class="text-uppercase text-white ">
                            <th scope="col">Date </th>
                            <th scope="col">Time</th>
                            <th scope="col">Sector</th>
                            <th scope="col">Duration (minutes)</th>
                          </tr>
                          </thead>
                          <tbody>
                          @foreach (var alert in _alertsToday)
                          {
                            <tr>
                              <td>@alert.DateTime.Day/@alert.DateTime.Month/@alert.DateTime.Year</td>
                              <td>@alert.DateTime.TimeOfDay.ToString(@"hh\:mm")</td>
                              <td>
                                @if (alert.Sectors[0])
                                {
                                  <span> 1 </span>
                                }
                                @if (alert.Sectors[1])
                                {
                                  <span> 2 </span>
                                }
                                @if (alert.Sectors[2])
                                {
                                  <span> 3 </span>
                                }
                              </td>
                              <td>@alert.DurationInMinutes</td>
                            </tr>
                          }
                          </tbody>
                        </table>
                      }
                      <button class="btn btn-info" @onclick=@(() => navMgr.NavigateTo("AlertsOverview"))> Go to Alerts Overview</button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          
          <!-- Tab content -->
          </div>
        </div>
      </div>            
      </div>
      </div>
      </div>
      <!-- Tabs content -->
      </div>
      </div>
    </div>
</div>

@code{
  private int[] _guardsPerSectorToday = new int[3];
  private int[] _guardsPerSector=new int[3];
  private int _prisonerCount;
  private ICollection<Prisoner>? _lowBehaviourPrisoners { get; set; }
  private int[] _prisonerSectorCount=new int[]{0,0,0};
  private ICollection<Alert>? _alertsToday;
  private ICollection<Visit>? _visitsToday;
  private ICollection<Visit>? _visitsPending;
  private Sector? _sector1=new();
  private Sector? _sector2=new();
  private Sector? _sector3=new();
  private double _totalOccupancyRate;
  private double _sector1OccupancyRate;
  private double _sector2OccupancyRate;
  private double _sector3OccupancyRate;
  private ICollection<Guard>? _guardsWorkingToday { get; set; }
  
  protected override async Task OnInitializedAsync()
  {
    _alertsToday = await _alertService.GetAlertsToday();
    List<int> num2 = await _guardService.GetNoOfGuardsPerSect();
    num2.ForEach(i=>Console.WriteLine(i));
  }

  private async Task LoadPrisonerMetricsAll()
  {
    _prisonerSectorCount = (await _prisonerService.GetNumPrisPerSectAsync()).ToArray();
    _prisonerCount = _prisonerSectorCount.Sum();
    _lowBehaviourPrisoners = await _prisonerService.GetPrisonersWithLowBehaviour();
  }

  private async Task LoadPrisonOccupancy()
  {
    ICollection<Sector> sectors = await _sectorService.GetSectorsAsync();
    _sector1 = sectors.First(s => s.Id == 1);
    _sector2 = sectors.First(s => s.Id == 2);
    _sector3 = sectors.First(s => s.Id == 3);
    _sector1OccupancyRate = ((double)_sector1.OccupiedCells / (double)_sector1.Capacity) * 100d;
    _sector2OccupancyRate =((double)_sector2.OccupiedCells / (double)_sector2.Capacity) * 100d;
    _sector3OccupancyRate =((double)_sector3.OccupiedCells / (double)_sector3.Capacity) * 100d;
    _totalOccupancyRate = (_sector1OccupancyRate + _sector2OccupancyRate + _sector3OccupancyRate) / 3;
  }

  private async  Task LoadGuardDataAll()
  {
    _guardsPerSector = (await _guardService.GetNoOfGuardsPerSect()).ToArray();
  }

  private async Task LoadGuardsTodayData()
  {
    _guardsPerSectorToday = (await _guardService.GetNoOfGuardsPerSectToday()).ToArray();
    _guardsWorkingToday = await _guardService.GetGuardsAsync(20);
  }

  private async Task LoadVisitsToday()
  {
    _visitsToday = await _visitService.GetVisitsToday();
  }
  private async Task LoadVisitsPending()
  {
    _visitsPending = await _visitService.GetVisitsPending();
  }

  private async Task LoadAlertsToday()
  {
    _alertsToday = await _alertService.GetAlertsToday();
  }
  
  private bool IsWorking(long guardId)
  {
    bool result = _guardService.IsGuardWorking(guardId).Result;
    return result;
  }
  
  private long GetSector(long guardId)
  {
    Sector sector = _guardService.GetGuardSector(guardId).Result;
    return sector.Id;
  }
}

