@page "/PrisonersOverview"
@using Entities
@using Contracts
@using BlazorLoginApp.Authentication

@inject NavigationManager _navMgr
@inject IAuthService _authService
@inject IPrisonerService _prisonerService
@attribute [Authorize(Policy = "WardenAccess")]


<div class="row container"><h5>Choose how you want to see the prisoners: </h5></div>
<br/>
<div class="row container w-25">
    <SfDropDownList  TValue="OptionsValues" @onselectionchange="OnDropdownSelected" TItem="string" Placeholder="Select options for viewing data" @bind-Value="@currentOption" DataSource="@(Options)">
        <DropDownListEvents TItem="string" TValue="OptionsValues" ValueChange="@OnDropdownSelected"></DropDownListEvents>
    </SfDropDownList>
</div>
<div class="row container mt-5">
    @if (currentOption == OptionsValues.Table)
    {
        <div class="container-fluid m-0 p-0 w-50">
                <table class="table table-hover align-middle mb-0 bg-white">
                    <thead class="bg-info">
                    <tr class="text-uppercase text-white">
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Ssn</th>
                        <th scope="col">Crime commited</th>
                        <th scope="col">Sector</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
        
                    <tbody>
                    @foreach (var p in prisoners )
                    {
                        <tr>
                            
                            <td>
                                <div class="d-flex align-items-center">
                                    <img
                                      src="img/download.png"
                                      class="rounded-circle"
                                      alt=""
                                      style="width: 45px; height: 45px"
                                      />
                                    <div class="ms-3">
                                        <p class="fw-bold mb-1">@p.FirstName</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="ms-3">
                                        <p class=" mb-1">@p.LastName</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="ms-3">
                                        <p class=" mb-1">@p.Ssn</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="ms-3">
                                        <p class=" mb-1">@p.CrimeCommitted</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="ms-3">
                                        <p class=" mb-1">S: @p.Sector?.Id</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="badge badge-warning rounded-pill d-inline">Imprisoned</span>
                            </td>
                           
                            <td>
                                <a @onclick="@(()=>{_navMgr.NavigateTo("/PrisonerDetail/"+@p.Id);})">
                                <button
                                    type="button"
                                    class="btn btn-link btn-rounded btn-sm fw-bold"
                                    data-mdb-ripple-color="dark">
                                    Edit
                                </button>
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
    }
    else if (currentOption == OptionsValues.Grid)
    {
        <div class="row row-cols-1 row-cols-md-3">
            @foreach (var p in prisoners)
            {
                <div class="col mx-3">
                    <div class="card mt-3 ">
                        <div class="card-header text-white" style="background-color: #41B3D3 !important">@p.FirstName @p.LastName</div>
                        <div class="card-body text-center">
                            <img 
                          src="img/download.png"
                          class="rounded-circle"
                          alt=""
                          style="width: 100px; height: 100px"
                          />
                            <ul class="list-group list-group-light">
                                <li class="list-group-item px-3">SSN: @p.Ssn</li>
                                <li class="list-group-item px-3">Crime: @p.CrimeCommitted</li>
                                <li class="list-group-item px-3">Status: <span class="badge badge-warning rounded-pill d-inline">Imprisoned</span> </li>
                                <li class="list-group-item px-3">Sector: ### </li>
                            </ul>
                            <br/>
                            <a @onclick="@(()=>{_navMgr.NavigateTo("/PrisonerDetail/"+@p.Id);})"  class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                </div>
                <br/>
            }

        </div>
    }
    @if (prisoners == null && !prisoners!.Any())
    {
        <div class="spinner-border text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    }
</div>
@code{
    private OptionsValues currentOption { get; set; }=OptionsValues.Table;
    private ICollection<Prisoner>? prisoners;
    protected  override async Task OnInitializedAsync()
    {
        prisoners = await _prisonerService.GetPrisonersAsync();
    }
    public string[] Options = Enum.GetNames(typeof(OptionsValues));

    public enum OptionsValues
    {
        Table,
        Grid
    }
    private void OnDropdownSelected()
    {
        Console.WriteLine(currentOption);

    }
}