@page "/PrisonersOverview"
@using Entities
@using Contracts
@using BlazorLoginApp.Authentication
@using BlazorSide.UIComponents
@using Microsoft.VisualBasic.CompilerServices

@inject NavigationManager _navMgr
@inject IAuthService _authService
@inject IPrisonerService _prisonerService
@inject IModalService _modalService
@attribute [Authorize(Policy = "WardenAccess")]


<br/>
<div class="d-flex flex-row  justify-content-center mb-3">
    <div class="p-2">
        <SfDropDownList TValue="OptionsValues" @onselectionchange="OnDropdownSelected" TItem="string" Placeholder="Select options for viewing data" @bind-Value="@currentOption" DataSource="@(Options)">
            <DropDownListEvents TItem="string" TValue="OptionsValues" ValueChange="@OnDropdownSelected"></DropDownListEvents>
        </SfDropDownList>
    </div>
    <div class="p-2">
        <input class="form-control" type="text" placeholder="Filter..."
               @bind="Filter"
               @bind:event="oninput">
    </div>
    <div class="p-2">
        <SfDropDownList TValue="SectorsValues" @onselectionchange="OnDropdownSelected" TItem="string" Placeholder="Select sector" @bind-Value="@currentOption2" DataSource="@(Options2)">
            <DropDownListEvents TItem="string" TValue="SectorsValues" ValueChange="@OnDropdownSelected"></DropDownListEvents>
        </SfDropDownList>
    </div>
</div>
<div class="d-flex flex-row justify-content-center  mt-5">
    @if (currentOption == OptionsValues.Table)
    {
        <div class="d-flex flex-column col-md-7 align-items-center">
            <div class="card text-center overflow-y-scroll" style="height: 30rem;"><h5 class="card-header bg-info text-white" >Inmates Overview</h5>
                <table class="table table-hover align-middle mb-0 bg-white">
                    <thead class="bg-info sticky-top">
                    <tr class="text-uppercase text-white">
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Ssn</th>
                        <th scope="col">Crime commited</th>
                        <th scope="col">Sector</th>
                        <th scope="col">Status</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    @foreach (var p in Prisoners!.Where(IsVisible))
                    {
                        <tr>

                            <td>
                                <div class="d-flex align-items-center">
                                    <img
                                        src="img/download.png"
                                        class="rounded-circle"
                                        alt=""
                                        style="width: 45px; height: 45px"/>
                                    <br/>
                                    <div class="ms-3">
                                        <p class="fw-bold mb-1">@p.FirstName</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="ms-3">
                                        <p class=" mb-1">@p.LastName</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="ms-3">
                                        <p class=" mb-1">@p.Ssn</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="ms-3">
                                        <p class=" mb-1">@p.CrimeCommitted</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="ms-3">
                                        <p class=" mb-1">S: @p.Sector?.Id</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="badge badge-warning rounded-pill d-inline">Imprisoned</span>
                            </td>
                            
                            <td>
                                <a @onclick="@(() => { _navMgr.NavigateTo("/PrisonerNotes/" + @p.Id); })">
                                    <button
                                        type="button"
                                        class="btn btn-link btn-rounded btn-sm fw-bold"
                                        data-mdb-ripple-color="dark">
                                        Notes
                                    </button>
                                </a>
                            </td>

                            <td>
                                <a @onclick="@(() => { _navMgr.NavigateTo("/PrisonerDetail/" + @p.Id); })">
                                    <button
                                        type="button"
                                        class="btn btn-link btn-rounded btn-sm fw-bold"
                                        data-mdb-ripple-color="dark">
                                        Edit
                                    </button>
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <br/>
            <nav>
                            <ul class="pagination ">
                                @for (int i = 0; i < noOfPages; i++)
                                {
                                    int page = i;
                                    @if (selectedPage == page + 1)
                                    {
            
                                        <li class="page-item active ms-3" aria-current="page" style="cursor: pointer; background-color:  #41B3D3 !important;">
                                            <a class="page-link" @onclick=@(() => SelectPage(page + 1))>
                                                @(i + 1)
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item  ms-3" aria-current="page" style="cursor: pointer;">
                                            <a class="page-link" @onclick=@(() => SelectPage(page + 1))>
                                                @(i + 1)
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </nav>
                        <div class="p-2 ">
                            <div class=" dropup">
                                <button
                                    class="btn btn-info dropdown-toggle"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-mdb-toggle="dropdown"
                                    aria-expanded="false">
                                    Rows/page: @PageSize
                                </button>
                                <ul class="dropdown-menu  " aria-labelledby="dropdownMenuButton" style="z-index: 999;">
                                    <li><a class="dropdown-item" @onclick=@(() => SetPageSize(10))>10</a></li>
                                    <li><a class="dropdown-item" @onclick=@(() => SetPageSize(15))>15</a></li>
                                    <li><a class="dropdown-item" @onclick=@(() => SetPageSize(20))>20</a></li>
                                    <li><a class="dropdown-item" @onclick=@(() => SetPageSize(25))>25</a></li>
                                </ul>
                            </div>
                        </div>
        </div>
    }
    else if (currentOption == OptionsValues.Grid && Prisoners!=null){
        <div class="row row-cols-1 row-cols-md-3">
            @foreach (var p in Prisoners.Where(IsVisible))
            {
                <div class="col mx-3">
                    <div class="card mt-3 ">
                        <div class="card-header text-white" style="background-color: #41B3D3 !important">@p.FirstName @p.LastName</div>
                        <div class="card-body text-center">
                            <img 
                                src="img/download.png"
                                class="rounded-circle"
                                alt=""
                                style="width: 100px; height: 100px"
                            />
                            <ul class="list-group list-group-light">
                                <li class="list-group-item px-3">SSN: @p.Ssn</li>
                                <li class="list-group-item px-3">Crime: @p.CrimeCommitted</li>
                                <li class="list-group-item px-3">Status: <span class="badge badge-warning rounded-pill d-inline">Imprisoned</span> </li>
                                <li class="list-group-item px-3">Sector: @p.Sector!.Id </li>
                            </ul>
                            <br/>
                            <a @onclick="@(()=>{_navMgr.NavigateTo("/PrisonerDetail/"+@p.Id);})"  class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                </div>
                <br/>
            }
        </div>
    }
    @if (Prisoners == null && !Prisoners!.Any())
    {
        <div class="spinner-border text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    }
</div>

@code{
    private OptionsValues currentOption { get; set; }=OptionsValues.Table;
    private SectorsValues currentOption2 { get; set; }=SectorsValues.All;

    private ICollection<Prisoner>? Prisoners { get; set; }
    private string Filter { get; set; }
    private int _sector;
    
    private int PageSize { get; set; } = 10;
    private int TotalNumberOfPrisoners { get; set; }
    private int noOfPages { get; set; }
    private int selectedPage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            selectedPage = 1;
            Prisoners = await _prisonerService.GetPrisonersAsync(selectedPage, PageSize);
            TotalNumberOfPrisoners = Prisoners!.Count;
            if (TotalNumberOfPrisoners < 10) noOfPages = 0;
            else noOfPages = TotalNumberOfPrisoners / PageSize +1;
        }
        catch (Exception e)
        {
            var paramet = new ModalParameters();
            paramet.Add(nameof(ErrorModal.Message),e.Message);
            _modalService.Show<ErrorModal>("Error",paramet);
        }
        
    }
    public string[] Options = Enum.GetNames(typeof(OptionsValues));

    public enum OptionsValues
    {
        Table,
        Grid
    }
    private void OnDropdownSelected()
    {
        Console.WriteLine(currentOption);
            
    }
    
    public string[] Options2 = Enum.GetNames(typeof(SectorsValues));

    public enum SectorsValues
    {
        All,
        Sector1,
        Sector2,
        Sector3
    }
    
    private bool IsVisible(Prisoner prisoner)
    {
        if (CheckFilter(prisoner) && currentOption2.ToString().Equals("All"))
            return true;
 
        if (CheckFilter(prisoner) && currentOption2.ToString().Equals("Sector"+prisoner.Sector.Id))
            return true;

        return false;
    }
    
    private bool CheckFilter(Prisoner prisoner)
    {
        if (string.IsNullOrEmpty(Filter))
            return true;
 
        if (prisoner.FirstName.Contains(Filter, StringComparison.OrdinalIgnoreCase) 
            || prisoner.LastName.Contains(Filter, StringComparison.OrdinalIgnoreCase))
            return true;
 
        if (prisoner.Ssn.ToString().StartsWith(Filter) || prisoner.Sector.Id.ToString().StartsWith(Filter))
            return true;

        return false;
    }
    private async Task SelectPage(int i)
    {
        selectedPage = i;
        Prisoners = await _prisonerService.GetPrisonersAsync(selectedPage,PageSize);
        await InvokeAsync(StateHasChanged);
    }

    private async Task SetPageSize(int i)
    {
        PageSize = i;
        noOfPages = TotalNumberOfPrisoners / PageSize + 1;
        Prisoners = await _prisonerService.GetPrisonersAsync(selectedPage,PageSize);
        await InvokeAsync(StateHasChanged);
    }
}