@page "/Visits"

@using Entities
@using Contracts
@using BlazorSide.UIComponents

@inject IVisitService VisitService
@inject IModalService ModalService
@inject IPrisonerService PrisonerService
@inject NavigationManager NavMgr

<div class=" row mt-5 justify-content-center">
    @if (_visitsList == null || !_visitsList!.Any())
        {
            <div class="spinner-border text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        }
    else
    {
        <div class="d-flex flex-row mb-3 justify-content-center  ">
            <div class="p-2">
                <SfDropDownList TValue="OptionsValues" @onselectionchange="OnDropdownSelected" TItem="string" Placeholder="Select status" @bind-Value="@_currentOption" DataSource="@(Options)">
                    <DropDownListEvents TItem="string" TValue="OptionsValues" ValueChange="@OnDropdownSelected"></DropDownListEvents>
                </SfDropDownList>
            </div>
            <div class="p-2">
                <input class="form-control" type="text" placeholder="Filter..."
                       @bind="_filter"
                       @bind:event="oninput">
            </div>
        </div>
        <div class="d-flex flex-column col-md-6 align-items-center">
            <div class="card text-center overflow-y-scroll" style="height: 30rem;">
                <h5 class="card-header bg-info text-white">An Overview of Visit Requests</h5>
                <table class="table table-hover  align-middle bg-white " style="position: relative; ">
                    <thead class="bg-info sticky-top">
                    <tr class="text-uppercase text-white ">
                        <th scope="col">Visitor Name </th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>

                    @for (int i = _visitsList.ToList().Count - 1; i >= 0; i--)
                    {
                        if (!IsVisible(_visitsList.ToList()[i]))
                            continue;
                        Visit? visit = _visitsList.ToList()[i];
                        @if (_selectedVisit != null && _selectedVisit!.Equals(visit))
                        {
                            <tr class="table-active">
                                <td >@visit.FirstName @visit.LastName
                                </td>
                                <td >@visit.VisitDate.Day/@visit.VisitDate.Month/@visit.VisitDate.Year</td>
                                <td >@visit.VisitDate.TimeOfDay.ToString(@"hh\:mm")</td>
                                <td>
                                    @switch (visit.Status)
                                    {
                                        case Status.Approved:
                                            <span class="badge rounded-pill badge-primary" style="margin-left: 2px">@visit.Status</span>
                                            break;
                                        case Status.Denied:
                                            <span class="badge rounded-pill badge-danger" style="margin-left: 2px">@visit.Status</span>
                                            break;
                                        case Status.Waiting:
                                            <span class="badge rounded-pill badge-warning" style="margin-left: 2px">@visit.Status</span>
                                            break;
                                        case Status.Fulfilled:
                                            <span class="badge rounded-pill badge-success" style="margin-left: 2px">@visit.Status</span>
                                            break;
                                    }

                                </td>
                                <td><button class="btn btn-outline-info" @onclick=@(() => SeeMore(visit))>See more</button></td>
                            </tr>
                        }
                        else
                        {
                            <tr >
                                <td >@visit.FirstName @visit.LastName
                                </td>
                                <td >@visit.VisitDate.Day/@visit.VisitDate.Month/@visit.VisitDate.Year</td>
                                <td >@visit.VisitDate.TimeOfDay.ToString(@"hh\:mm")</td>
                                <td>
                                    @switch (visit.Status)
                                    {
                                        case Status.Approved:
                                            <span class="badge rounded-pill badge-primary" style="margin-left: 2px">@visit.Status</span>
                                            break;
                                        case Status.Denied:
                                            <span class="badge rounded-pill badge-danger" style="margin-left: 2px">@visit.Status</span>
                                            break;
                                        case Status.Waiting:
                                            <span class="badge rounded-pill badge-warning" style="margin-left: 2px">@visit.Status</span>
                                            break;
                                        case Status.Fulfilled:
                                            <span class="badge rounded-pill badge-success" style="margin-left: 2px">@visit.Status</span>
                                            break;
                                    }
                                </td>
                                <td><button class="btn btn-outline-info" @onclick=@(() => SeeMore(visit))>See more</button></td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
            <br/>
                <nav>
                    <ul class="pagination ">
                        @for (int i = 0; i < _numberOfPages; i++)
                        {
                            int page = i;
                            @if (_selectedPage == page + 1)
                            {
                                <li class="page-item active ms-3" aria-current="page" style="cursor: pointer; background-color:  #41B3D3 !important;">
                                    <a class="page-link" @onclick=@(() => SelectPage(page + 1))>
                                        @(i + 1)
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item  ms-3" aria-current="page" style="cursor: pointer;">
                                    <a class="page-link" @onclick=@(() => SelectPage(page + 1))>
                                        @(i + 1)
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </nav>
                <div class="p-2 ">
                    <div class=" dropup">
                        <button
                            class="btn btn-info dropdown-toggle"
                            type="button"
                            id="dropdownMenuButton"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false">
                            Rows/page: @_pageSize
                        </button>
                        <ul class="dropdown-menu  " aria-labelledby="dropdownMenuButton" style="z-index: 999;">
                            <li><a class="dropdown-item" @onclick=@(() => SetPageSize(10))>10</a></li>
                            <li><a class="dropdown-item" @onclick=@(() => SetPageSize(15))>15</a></li>
                            <li><a class="dropdown-item" @onclick=@(() => SetPageSize(20))>20</a></li>
                            <li><a class="dropdown-item" @onclick=@(() => SetPageSize(25))>25</a></li>
                        </ul>
                    </div>
                </div>
        </div> 
        @if (_isSelected && _currentPrisonerInVisit!=null)
    {
        long id = _currentPrisonerInVisit.Id;
        <div class="d-flex flex-column col-md-6">
            <div class="card ">
                <h5 class="card-header bg-info text-white">Selected Visit</h5>
                <div class="card-body font-normal">
                    <h6>Visitor's Name: @_selectedVisit!.FirstName @_selectedVisit.LastName</h6>
                    <h6>Email: @_selectedVisit.Email</h6>
                    <h6>Desired date for visit: @_selectedVisit.VisitDate.Day/@_selectedVisit.VisitDate.Month/@_selectedVisit.VisitDate.Year</h6>
                    <h6>Desired time for visit: @_selectedVisit.VisitDate.TimeOfDay.ToString(@"hh\:mm")</h6>
                    <h6>Prisoner to be visited: <a style="cursor: pointer; text-decoration: underline;"@onclick=@(() => GoToPrisoner(id))>@_currentPrisonerInVisit!.FirstName @_currentPrisonerInVisit.LastName </a></h6>
                    <br/>
                    @if (_selectedVisit.Status == Status.Waiting)
                    {
                        <button class="btn btn-info" @onclick="Approve">Approve Visit</button>
                        <button class="btn btn-danger" @onclick="Deny">Deny Visit</button>
                    }
                    else
                    {
                        @switch (_selectedVisit.Status)
                        {
                            case Status.Approved:
                                <h6>Status: <span class="badge rounded-pill badge-primary" style="margin-left: 2px">@_selectedVisit.Status</span></h6>
                                break;
                             case Status.Denied:
                                 <h6>Status: <span class="badge rounded-pill badge-danger" style="margin-left: 2px">@_selectedVisit.Status</span></h6>
                                 break;
                            case Status.Fulfilled:
                                <h6>Status:<span class="badge rounded-pill badge-success" style="margin-left: 2px">@_selectedVisit.Status</span></h6>
                                break;
                        }
                    }
                </div>
            </div>
        </div>
    }
    }
</div>
        
    
@code {
    private OptionsValues _currentOption { get; set; }=OptionsValues.All;
    private ICollection<Visit>? _visitsList { get; set; }
    private bool _isSelected;
    private Visit? _selectedVisit { get; set; } = null;
    private Prisoner? _currentPrisonerInVisit;
    private string _filter { get; set; }
    [CascadingParameter]
    private IModalService _modal { get; set; }
    private int _pageSize { get; set; } = 10;
    private int _totalNumberOfVisits { get; set; }
    private int _numberOfPages { get; set; }
    private int _selectedPage { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        _selectedPage = 1;
        _visitsList = await VisitService.GetVisitsAsync(_selectedPage, _pageSize);
        _totalNumberOfVisits = _visitsList!.Count;
        if (_totalNumberOfVisits < 10) _numberOfPages = 0;
        else _numberOfPages = _totalNumberOfVisits / _pageSize +1;
    }

    private async void SeeMore(Visit v)
    {
        try
        {
            _isSelected = true;
            _selectedVisit = v;
            _currentPrisonerInVisit = await PrisonerService.GetPrisonerBySsn(v.PrisonerSsn.ToString());
        }
        catch (Exception e)
        {
            var parameters = new ModalParameters();
            parameters.Add(nameof(ErrorModal.Message),e.Message);
            ModalService.Show<ErrorModal>("Error",parameters);
        }
    }

    private async Task Approve()
    {
        try
        {
            var parameters = new ModalParameters();
            parameters.Add(nameof(ActionConfirm.Message),"Are you sure that you want to approve this visit?");
            var modalRef=ModalService.Show<ActionConfirm>("Confirm",parameters);
            var result = await modalRef.Result;
            if (!result.Cancelled)
            {
                _selectedVisit!.Status = Status.Approved;
                await VisitService.UpdateVisitStatusAsync(_selectedVisit!);
                _visitsList = await VisitService.GetVisitsAsync(_selectedPage, _pageSize);
                await InvokeAsync(StateHasChanged);
                _selectedVisit = null;
                _isSelected = false;
            }
            modalRef.Close(result);
        }
        catch (Exception e)
        {
            var parameters = new ModalParameters();
            parameters.Add(nameof(ErrorModal.Message),e.Message);
            ModalService.Show<ErrorModal>("Error",parameters);
        }
    }

    private void GoToPrisoner(long id)
    {
        NavMgr.NavigateTo($"/PrisonerDetail/{id}");
    }

    private async Task Deny()
    {
        try
        {
            var parameters = new ModalParameters();
            parameters.Add(nameof(ActionConfirm.Message),"Are you sure that you want to deny this visit?");
            var modalRef=ModalService.Show<ActionConfirm>("Confirm",parameters);
            var result = await modalRef.Result;
            if (!result.Cancelled)
            {
                _selectedVisit!.Status = Status.Denied;
                await VisitService.UpdateVisitStatusAsync(_selectedVisit!);
                _visitsList = await VisitService.GetVisitsAsync(_selectedPage, _pageSize);
                await InvokeAsync(StateHasChanged);
                _selectedVisit = null;
                _isSelected = false;
            }
            modalRef.Close(result);
        }
        catch (Exception e)
        {
            var parameters = new ModalParameters();
            parameters.Add(nameof(ErrorModal.Message),e.Message);
            ModalService.Show<ErrorModal>();
        }
    }
    
    public string[] Options = Enum.GetNames(typeof(OptionsValues));

    public enum OptionsValues
    {
        All,
        Waiting,
        Denied,
        Approved,
        Fulfilled
    }
    
    private void OnDropdownSelected()
    {
        Console.WriteLine(_currentOption);
    }
    
    private bool IsVisible(Visit visit)
    {
        if ( CheckFilter(visit) && _currentOption.ToString().Equals("All"))
            return true;
 
        if (CheckFilter(visit) && _currentOption.ToString().Equals(visit.Status.ToString()))
            return true;

        return false;
    }

    private bool CheckFilter(Visit visit )
    {
        if (string.IsNullOrEmpty(_filter))
            return true;
 
        if (visit.FirstName.Contains(_filter, StringComparison.OrdinalIgnoreCase) 
            || visit.LastName.Contains(_filter, StringComparison.OrdinalIgnoreCase))
            return true;
 
        if (visit.PrisonerSsn.ToString().StartsWith(_filter))
            return true;

        return false;
        
    }

    private async Task SelectPage(int pageIndex)
    {
        _selectedPage = pageIndex;
        _visitsList = await VisitService.GetVisitsAsync(_selectedPage,_pageSize);
        await InvokeAsync(StateHasChanged);
    }

    private async Task SetPageSize(int pageSize)
    {
        _pageSize = pageSize;
        _numberOfPages = _totalNumberOfVisits / _pageSize + 1;
        _visitsList = await VisitService.GetVisitsAsync(_selectedPage,_pageSize);
        await InvokeAsync(StateHasChanged);
    }


}